<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.order.mapper.XcTaskMapper" >
    <select id="findXcTaskBeforeUpdateTime" resultType="xctask">
        SELECT * FROM xc_task WHERE update_time=#{updateTime} limit #{n}
    </select>
    
    <update id="updateXcTaskTime" parameterType="string">
        UPDATE xc_task SET update_time=now() WHERE id=#{id}
    </update>

    <update id="updateTaskVersion">
        UPDATE xc_task SET version=version+1 WHERE id=#{id} AND version=#{version}
    </update>

    <delete id="deleteTask" parameterType="string">
        DELETE FROM xc_task WHERE id=#{id}
    </delete>
</mapper>